<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FCP3Prototype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21DF9C131E87DB2C0095CCEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21DF9C291E87DB2D0095CCEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21DF9C341E87DB2D0095CCEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
